@font-face {
    font-family: "sunshine";
    src: url('font.ttf');
}

@font-face {
    font-family: "heart";
    src: url('aimh.ttf');
}
body
{
    font-family: "sunshine";
    width: 857px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* ========================= menu bar css ==========================*/

li, ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-menu
{
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    
}
.main-menu ul
{
    text-align: center;
    list-style-type: none;
}

.main-menu ul a
{
    text-decoration: none;
    display: inline-block;
}

.main-menu ul a li
{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: table-cell;
    font-size: 1.6em;
    height: 50px;
    text-align: center;
    vertical-align:middle;
    color: black;
    
}


#m1
{
    background: url('texture1.jpg') no-repeat;
    background-size: cover;
    padding-left: 35px;

}
#m2
{
    background: url('texture2.jpg') center;
    background-size: 200%;
}
#m3
{
    background: url('texture3.jpg') center;
    background-size: 150%;
}
#m4
{
    background: url('texture4.jpg') center;
    background-size: 170%;
}
#m5
{
    background: url('texture5.jpg') center;
    background-size: 130%;
}
#m6
{
    background: url('texture6.jpg') center;
    background-size: 200%;
}
#m7
{
    background: url('texture7.jpg') no-repeat right;
    padding-right: 30px;
    background-size: cover;
}

/* ========================= baniere css ==========================*/

#banniere
{
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    background: url('cover.jpg') no-repeat center;
    margin-bottom: 36px;
}


/* ========================= top wrapper css ==========================*/

#top-wrapper-input-social-title
{
    overflow:auto;
}

#left-wrapper-input-social
{
    display: inline-block;
    float: left;
    overflow:auto;
    margin-left: 20px;
    margin-top: 48px;
}



.input-recette
{
    padding-left: 30px;
    width: 238px;
    height: 38px;
    outline: none;
    border: 1px solid black;
}


#wrapper-social
{
    margin-left: 20px;
    margin-top: 56px;
}

.social-icon
{
    display:inline-block;
}
.whi-icon
{
    display: inline-block;
    background: url("whi.png") no-repeat center;
    width: 47px;
    height: 48px;
}
.fb-icon
{
    margin-left: 10px;
    display: inline-block;
    background: url("fb.png") no-repeat center;
    width: 47px;
    height: 48px;
}
.mail-icon
{
    margin-left: 15px;
    display: inline-block;
    background: url("mail.png") no-repeat center;
    width: 47px;
    height: 48px;
}



#right-wrapper-title
{
    display: inline-block;
    float: right;
    height: 100%;
    margin-top: 87px;
    margin-right: 22px;
    position: relative;
}


/* ========================= wrapper presentation css ==========================*/

#wrapper-image-presentation
{
    margin-top: 20px;
    position: relative;
    height: 310px;
    overflow: hidden;
}

#wrapper-image
{
    opacity: 0.6;
}

#wrapper-image img
{
    width: 100%;
}

#wrapper-presentation
{
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    top: 50px;
}

/* ========================= wrapper ingredient recette ==========================*/

#wrapper-ingredients-etapes-images
{
   margin-top: 36px;
    overflow: hidden;
}


#wrapper-left-ingredients
{
    width: 265px;
    display: inline-block;
    position: relative;
    text-align: center;
    display: inline-block;
    box-sizing:border-box;
    
}

#ingredient-background
{
    margin-top: -26px;
    padding: 0px 13px 20px 13px;
    background: url("ingredient-fond.png") repeat;
    border-radius: 5%;
}

#wrapper-left-ingredients h2
{
    margin-top: 40px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

#ingredients-list
{
    text-align: left;
}

#ingredients-list hr
{
    border: 0;
    height: 1px;
    background: #bd775f;
}

#wrapper-right-etapes-vignette
{
    float: right;
    width: 522px;
    display: inline-block;
    margin-top: 40px;
}

#wrapper-vignette
{
    margin-top: 30px;
    text-align: center;
}

.vignette
{
    display: inline-block;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 10%;
    margin: 25px;
    position: relative;
}

#wrapper-etapes
{
    position: relative;
}

/* ========================= option button ==========================*/

.change-button
{
    position: absolute;
    top: 0;
    right: 0;
}

.croix-rouge
{
    width: 15px;
    height: 15px;
    border-radius: 25%;
    float: right;
}

.croix-rouge-vignette
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid rgba(255, 0, 0, 0.21);
}


#etapes-input
{
    width: 100%;
    height: 250px;
}

pre
{
    font-family: inherit;
}

#option-presentation
{
    position: relative;
    font-family: sans-serif;
    text-align: center;
    background-color: #c3c3c3;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    height: 311px;
}

#option-presentation li
{
    margin-top: 7px;
}

#option-title
{
    width: 300px;
    height: 50px;
    background-color:#cbcbcb;
    position: relative;
    float: right;
    display: inline-block;
    margin-top: 80px;
    padding-left: 10px;
    font-family: sans-serif;
    padding-top: 10px;
}

#option-vignette
{
    margin-top: 30px;
    padding-top: 40px;
    text-align: center;
    height: 100px;
    background-color: #cbcbcb;
}

/* ========================= coeur ==========================*/

.heart
{
    font-family: "heart";
    font-size: 24px;
}